body{
    background-image: url('WhatsApp\ Image\ 2023-11-17\ at\ 01.34.04.jpeg');
    background-size: cover;
}
#nav {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
}

#nav::before {
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 120%;
    z-index: -1;
}

#logo img{
    height: 70px;
    margin: 5px;
    cursor: pointer;
}

/* #log {
    height: 30px;
    text-align: center;
    display: inline;
} */

#nav ul{ 
    display:flex;
    font-family: 'Times New Roman', Times, serif;
}

#nav ul li{
    list-style: none;
    font-size: 15px;
}

#nav ul li a{
    color: white;
    display: block;
    padding: 5px 25px;
    border-radius: 20px;
    text-decoration: none;
}

#nav ul li a:hover{
    color: black;
    background-color: rgb(223, 36, 45);
    cursor: pointer;
    text-transform: uppercase;
}

button {
    margin-right: 5px;
    border-color: cornsilk;
    border-width: 2px;
    border-radius: 9px;
}

input {
    text-align: center;
    margin-right: 5px;
    /* border-radius: 0px; */
}

button:hover{
    background-color: rgb(223, 36, 45) ;
    box-shadow: 0px 15px 20px rgba(223, 36, 45, 0.4);
    color: #fff;
}

#mic {
    position: relative;
}

#mic img{
    position: absolute;
    bottom: -650px;
    right: -10px;
    height: 90px;
    width: 60px;
    cursor: pointer;
}
.wrap{
    width: 800px;
    height: 700px;
    
    margin: 90px auto;
}
h1{
    font-size: 50px;
    color: rgb(155, 51, 51);
    text-align: center;
    border-bottom: 3px solid black;
}
table{
    font-size: 25px;
}
.txt{
    font-size:21px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border:2px solid black;
}
td{
    padding: 20px 30px 0px 0px;
}
.txtarea{
    width: 800px;
    height: 150px;
    border-radius: 6px;
    border:2px solid black;
    font-size: 21px;
}
.btn{
    width: 800px;
    height: 50px;
    border-radius: 8px;
    background-color: darkblue;
    font-size: 20px;
    color: white;
    border: 2px solid white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    /* background-color: red; */
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225,225,225,0.2);
    margin:0 10px 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
    
}